<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <link rel="stylesheet" href="style.css">
    <title>Eliminar artículo</title>
    <style>
        img {
                float: right;
            }
    </style>
</head>

<header>
    <section class="hero is-link">
        <div class="hero-body">
            <div class="columns">
            <div class="column is-three-fifths">
              <p class="title is-size-1">
                <span class="icon">
                  <i class="fas fa-train"></i>
                </span>
                Truequeo BUAP 
               </p>
            </div>
            </div>
        </div>
      </section>
</header>

<body>
    <div class="column is-1">
    <img src="Flecha.png" float="left" width="160" height="160"> 
    <p aling="right">Atrás</p>
    </div>
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <div class="columns">
                <div class="column">
                    <p label class="label">Buscar entre tus publiaciones</label></p>
                </div>
                <div class="column">
                    <input class="input" type="publicación">
                </div>
                <div class="column">
                    <button class="button is-primary is-fullwidth" >Buscar</button>
                </div>
        </div>
        <div class="column">
            <form class="box">
                <img src="Libro_calculo.jpg" float="right" width="160" height="160">
                <br>
                <p>Estás ofreciendo un libro de cálculo a cambio de una unidad USB</p>
                <br>
                <br>
                Fecha de publicación: 20/abril/2021 <br>
                Categoría: Libros <br>
                Estado: Nuevo <br>
                <br>
                <br>
                <button class="button is-primary is-fullwidth" >Eliminar</button>
              </form>
              <form class="box">
                <img src="Mochila.jpg" width="160" height="160">
                <br>
                <p>Estas ofreciendo una mochila a cambio de una lapicera</p>
                <br>
                <br>
                Fecha de publicación: 05/abril/2021 <br>
                Categoría: Útiles <br>
                Estado: Usado 5 meses <br>
                <br>
                <br>
                <button class="button is-primary is-fullwidth" >Eliminar</button>
              </form>
              <form class="box">
                <img src="Libreta.jpg" width="160" height="160">
                <br>
                <p>Estas ofreciendo una libreta de rayas a cambio de una libreta de cuadros grandes</p>
                <br>
                <br>
                Fecha de publicación: 18/marzo/2021 <br>
                Categoría: Útiles <br>
                Estado: Nuevo <br>
                <br>
                <br>
                <button class="button is-primary is-fullwidth" >Eliminar</button>
              </form>
           </div>
        <div class="column is-1"></div>
    </div>
</body>